In [1]:
import pandas as pd
import numpy as np

# Reading in the data.
- For conveniency separate the title from the actual data.
- Rename the columns for easier indexing.

In [45]:
df = pd.read_csv('sample-data.csv', header= None)

# remove file name row
orig_header, df = df.iloc[:2], df.iloc[2:]

# organize df header and index
df.reset_index(drop= True, inplace= True)
df.rename(columns= {0:'Heading', 1:'Item', 2:'Value'}, inplace= True)

# Sections' total.
- Split the data by sections.
- Calculate and append each section's total.

In [50]:
# split by heading
df['Heading'].fillna('', inplace= True)
heading_idx = df.loc[df['Heading'].str.contains('Heading')].index

splits = []
for idx, sect  in enumerate(heading_idx):

    try:
        temp = df.iloc[sect: heading_idx[idx + 1]].copy()

    except:
        temp = df.iloc[sect: ].copy()

    # # remove rows with empty values
    # empty_vals_idx = temp[temp['Value'].isna()].index[1:]
    # temp.drop(empty_vals_idx, inplace= True)

    # add total
    temp.reset_index(drop= True, inplace= True)
    total = temp['Value'].sum()
    temp.loc[len(temp.index)] = ['', 'Sub Total', total]

    splits.append(temp)

splits

[     Heading       Item  Value
 0  Heading 1        NaN    NaN
 1                Item 1   1.32
 2                Item 2   2.12
 3                Item 3   5.76
 4                   NaN    NaN
 5                Item 4   4.87
 6                Item 5   5.43
 7             Sub Total  19.50,
      Heading       Item   Value
 0  Heading 2        NaN     NaN
 1                Item 1   332.0
 2                Item 2   343.0
 3                Item 3  6454.0
 4                   NaN     NaN
 5                   NaN     NaN
 6             Sub Total  7129.0,
      Heading       Item   Value
 0  Heading 3        NaN     NaN
 1                Item 1   332.0
 2                Item 2   343.0
 3                Item 3  6454.0
 4             Sub Total  7129.0]

# Gross total.
- Concatinate all sections.
- Calculate and append gross total.

In [58]:
# merge all sections
sects_df = pd.concat(splits)


# add gross total
sects_df.reset_index(drop= True, inplace= True)
gross_total = sects_df.loc[sects_df['Item'] == 'Sub Total']['Value'].sum()
sects_df.loc[len(sects_df)] = ['', 'Total', gross_total]
sects_df.head()

     Heading    Item  Value
0  Heading 1     NaN    NaN
1             Item 1   1.32
2             Item 2   2.12
3             Item 3   5.76
4                NaN    NaN

# Formating.
- Return the data to the original format.

In [57]:

sects_df.rename(columns= {'Heading':0, 'Item':1, 'Value': 2}, inplace= True)
df = pd.concat([orig_header, sects_df], axis= 0)
df.reset_index(drop= True, inplace= True)
df.head(10)

                                0          1      2
0  This is the title of the sheet        NaN    NaN
1                             NaN        NaN    NaN
2                       Heading 1        NaN    NaN
3                                     Item 1   1.32
4                                     Item 2   2.12
5                                     Item 3   5.76
6                                        NaN    NaN
7                                     Item 4   4.87
8                                     Item 5   5.43
9                                  Sub Total  19.50